#header {
  text-align: center;
  position: relative;
  padding: 20px 0 50px;
}

.title-link {
  display: block;
}

/*.init-ui .title-link {*/
  /*opacity: 1;*/
/*}*/

.title-link h1, .title-link h2 {
  display: inline;
  font-size: 22px;
  font-weight: 200;
  opacity: 0;
}


.title-link h1 {
  transition: opacity 1s ease-out;
}

.title-link h2 {
  transition: opacity 1s ease-in;
}

.init-ui .title-link h1,
.init-ui .title-link h2 {
  opacity: 1;
}

.title-link h2 {
  color: #aaa;
}

.my-name {
  font-weight: 500;
}

.gallery-menu {
  font-size: 14px;
  padding: 10px;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.gallery-menu.fixed {
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid #DDD;
}

.gallery-menu-item {
  display: inline-block;
  margin: -10px;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.110, 0.545, 0.000, 1.650);
}

.init-ui .gallery-menu-item {
  opacity: 1;
  margin: 0;
}

.gallery-menu-link {
  display: block;
  padding: 4px 8px;
  border-radius: 4px;
  color: #666;
}

.gallery-menu-link:hover {
  color: #444;
  background-color: #eee;
}

.gallery-menu-link.active {
  background-color: #ddd;
  cursor: default;
}

.gallery-menu-dropdown-button {
  display: none;
}
