.image-slideshow {
  position: fixed;
  top: 0;
  right: -9999px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: white;
  transition: opacity 0.2s ease-out, right 0s ease-out 0.2s;
}

.image-slideshow.active {
  right: 0;
  opacity: 1;
  transition: opacity 0.1s ease-out, right 0s;
}


.image-slideshow-image {
  cursor: pointer;
  position: absolute;
  display: block;
}

.image-slideshow-menu {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 100%;
  height: 140px;
  background-color: white;
  border-top: 1px solid transparent;
  text-align: center;
}

.image-slideshow.active .image-slideshow-menu {
  bottom: 0;
  transition: bottom 0.5s cubic-bezier(0.110, 0.545, 0.000, 1.650) 0.2s;
}

.image-slideshow-controls .next,
.image-slideshow-controls .previous {
  font-size: 40px;
  display: inline-block;
  padding: 10px;
  color: #999;
}

.image-slideshow-controls .next:hover,
.image-slideshow-controls .previous:hover {
  color: #444;
}

.image-slideshow-controls .next:active,
.image-slideshow-controls .previous:active {
  -webkit-transform: scale(0.9);
}

.thumbnail-icon {
  width: 37px;
  height: 37px;
  padding: 9px 5px 5px;
  line-height: 0.6;
  display: inline-block;
  position: relative;
}

.thumbnail-icon .blanket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thumbnail-icon:hover .square {
  background-color: #444;
}

.thumbnail-icon:active {
  -webkit-transform: scale(0.9);
}

.thumbnail-icon .square {
  display: block;
  float: left;
  width: 5px;
  height: 5px;
  background-color: #999;
  margin: 2px;
}

.image-slideshow-title {
  margin: 0;
  font-weight: 200;
  cursor: pointer;
}
