---
layout: default
---

<header id="header">
  <div class="container">
    <a class="title-link" href="/"><h1 class="my-name">{{site.title}}</h1> <h2>Photography</h2></a>

    <div class="gallery-menu">
      <ul>
        {% for gallery in galleries %}
        <li class="gallery-menu-item">
        <a class="gallery-menu-link" data-slug="{{gallery.slug}}" href="/{{gallery.slug}}">{{gallery.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>

<div class="container">

<ul id="gallery" class="gallery-grid">
{%unless image %}
  {% for image in images %}
    <li class="gallery-grid-item">
      <a class="gallery-grid-link" data-id="{{image.id}}" href="/{{image.gallery_slug}}/{{image.id}}">
        <img src="{{ image.thumbnail_url }}" alt="{{image.id}}" class="gallery-grid-image" />
      </a>
    </li>
  {% endfor %}
{% endunless %}
</ul>

</div>

<div id="slideshow" class="image-slideshow">
fooooooooo
{{image.gallery_slug}}

{% if image %}
  <img src="{{ image.medium_url }}" alt="{{image.id}}" class="gallery-thumbnail" />
  <a href="/{{image.gallery_slug}}">back to thumbnails</a>
{% endif %}
</div>

