---
title: {{page_title}}
layout: default
is_dark: true
---

<header id="header">
  <a class="title-link" data-slug="" href="/"><h1 class="my-name">{{site.title}}</h1> <h2>Photography</h2></a>

  <div class="gallery-menu">
    <a href="#" class="gallery-menu-dropdown-button">
      <span class="gallery-menu-name">{{current_gallery.name}}</span>
      &darr;
    </a>
    <ul class="gallery-menu-list">
      {% for gallery in galleries %}
      {% unless gallery.name == "All Photos" %}
      <li class="gallery-menu-item">
        <a class="gallery-menu-link{% if current_gallery.slug == gallery.slug %} active{% endif %}" data-slug="{{gallery.slug}}" href="/{{gallery.slug}}">
          {{gallery.name}}
        </a>
      </li>
      {% endunless %}
      {% endfor %}
    </ul>
  </div>
</header>

<ul id="gallery" class="gallery-grid">
{%unless image %}
  {% for image in images %}
    <li class="gallery-grid-item">
      <a class="gallery-grid-link" data-id="{{image.id}}" href="/{{image.gallery_slug}}/{{image.id}}">
        <img src="{{ image.thumbnail_url }}" alt="{{image.id}}" class="gallery-grid-image" />
      </a>
    </li>
  {% endfor %}
{% endunless %}
</ul>

<footer id="footer">
  <p>
  For inquiries about prints or just to say hi, contact me at <a id="mailto-link" href="">me[at]moudy.me</a>
  <br />
  </p>
  <p>
  Thanks for looking.
  </p>
</footer>

<div id="slideshow" class="image-slideshow{% if image %} active{% endif %}">
  {% if image %}
    <img src="{{ image.medium_url }}" alt="{{image.gallery_slug}} {{image.id}}" class="image-slideshow-image" />
  {% else %}
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="image-slideshow-image">
  {% endif %}

  <div id="image-slideshow-menu" class="image-slideshow-menu">
    <div class="image-slideshow-controls">
      <a href="#" class="previous"title="previous">&larr;</a>
      <a href="#" class="back-to-gallery thumbnail-icon" title="back to gallery">
        {% for num in (1...9) %}
          <span class="square"></span>
        {% endfor %}
        <div class="blanket"></div>
      </a>
      <a href="#" class="next" title="next">&rarr;</a>
    </div>

    <h3 class="image-slideshow-title back-to-gallery">
      {{ current_gallery.name }}
    </h3>
  </div>
</div>

<script type="text/javascript">
  window.App.bootstrap.gallery = "{{current_gallery.slug}}";
  window.App.bootstrap.imageId = "{{image.id}}";
</script>

