<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    {% css_asset_tag global %}
    - /_assets/normalize.css
    - /_assets/main.css
    - /_assets/header.css
    - /_assets/gallery_grid.css
    - /_assets/slideshow.css
    {% endcss_asset_tag %}

    <script type="text/javascript">
      window.App = {}
      window.App.bootstrap = {}
    </script>

  </head>
  <body>

    {{ content }}

    {% javascript_asset_tag global %}
    - /_assets/data.js
    - /_assets/jquery.js
    - /_assets/underscore.js
    - /_assets/backbone.js
    - /_assets/gallery_template.js
    - /_assets/models.js
    - /_assets/collections.js
    - /_assets/header_view.js
    - /_assets/gallery_view.js
    - /_assets/slideshow_view.js
    - /_assets/slideshow_menu_view.js
    - /_assets/app.js
    {% endjavascript_asset_tag %}

  </body>
</html>
